<footer class="border-top">
  <div class="container mb-4">
    <div class="row">
      <div class="col-md-12 footer border-bottom ">
        <div class="row mt-5 mb-2">
          <div class="col-md-3  ">
            <img src="assets/images/logo-footer.png" class="w-100 " alt="">
          </div>
          <div class="col-md-3 ">
            <h6 class=" font-weight-normal">{{'_QuickLink' | translate}}</h6>
            <ul>
              <li><a class="" routerLink="/" routerLinkActive="active">{{'_Home' | translate}}</a></li>
              <li><a class="" routerLink="/new-shipment" routerLinkActive="active">{{'_NewShipment' | translate}}</a>
              </li>
              <li><a class="" (click)="navigate()" href="#Calcolator">{{'_Calculator' | translate}}</a></li>
              <li><a class="" routerLink="/about-us" routerLinkActive="active">{{'_AboutUs' | translate}}</a></li>
              <li><a class="" routerLink="/contactus" routerLinkActive="active">{{'_ContactUs' | translate}}</a></li>
            </ul>
          </div>
          <div class="col-md-3 ">
            <h6 class=" font-weight-normal">{{'_QuickLink' | translate}}</h6>
            <ul>
              <li><a class="" routerLink="/privacy-policy">{{'_PrivacyPolicy' | translate}}</a></li>
              <li><a class="" routerLink="/terms-conditions">{{'_TermsConditions' | translate}}</a></li>
            </ul>
          </div>
          <div class="col-md-3 ">
            <h6 class="font-weight-normal ">{{'_Download' | translate}}</h6>
            <div class="my-2"><a href="https://apps.apple.com/ae/app/deliverq/id1554852026"><img src="assets/images/icon/app-store.png" alt="" class="w-50"></a></div>
            <div class="my-2"><a href="https://play.google.com/store/apps/details?id=com.crowddigital.deliverq"><img src="assets/images/icon/google-play.png" alt="" class="w-50"></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 my-auto">
        <p class="mt-2">{{'_FollowDeliver' | translate}}</p>
      </div>
      <div class="col-md-6 text-right mt-2">
        <div class="contact">
          <a href="https://www.facebook.com/deliverqportal" target="_blank"><i class="mx-2 fa fa-facebook"></i></a>
          <a href="https://twitter.com/deliverQportal/" target="_blank"><i
            class="mx-2 fa fa-youtube-play"></i></a>
          <a href="https://www.instagram.com/deliverQportal/" target="_blank"><i
            class="mx-2 fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/company/deliverqportal/" target="_blank"><i
            class="mx-2 fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

  </div>
  <div class="text-center bg-primary">
    <p class="mb-0 py-2 text-white">
      {{'_CopyRight' | translate}}
    </p>
  </div>


</footer>
