<div class="m-auto py-5 border border-light bg-white position-relative login">
  <div class="text-center"><h4 class="mb-5 font-weight-normal text-primary">{{'_ForgotPassword'| translate}}</h4></div>

  <form name="loginForm" [formGroup]="forgetForm" class="px-5 my-3">
    <mat-form-field class="w-100 text-left">
      <mat-label>{{'_Mobile' | translate}}</mat-label>
      <span matPrefix>+971 &nbsp;</span>
      <input type="tel" matInput placeholder="554 5***" formControlName="phone" maxlength="9">
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error>
        {{'_MobileRequired' |  translate}}
      </mat-error>
    </mat-form-field>
    <div class="text-center">
      <button mat-raised-button color="accent" class="btn btn-primary w-50 mb-3 py-2" aria-label="LOG IN"
              (click)="onSubmit()"
              [disabled]="forgetForm.invalid">
        {{'_SendOTP' | translate}}
      </button>
    </div>
    <div class="text-center"><a style="cursor: pointer" routerLink="/auth/login">{{'_BackToLogin' | translate}}</a></div>

  </form>
</div>
