<div class="verification-dialog">
  <p class="title">{{ '_PleaseEnterPhone' | translate}}</p>
  <form [formGroup]="userForm">
    <mat-form-field appearance="legacy" class="w-100">
      <mat-label>{{'_VerificationCode'|  translate}}</mat-label>
      <input matInput placeholder="" formControlName="otp" maxlength="4">
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-error *ngIf="userForm.get('otp').hasError('required')">
        {{'_VerificationCodeRequired' |  translate}}
      </mat-error>
    </mat-form-field>
    <div class="text-right">
      <button class="btn btn-secondary mx-1" (click)="createShipment()">{{'_Submit' | translate}}</button>
      <button class="btn btn-success mx-1" (click)="dialog.closeAll()">{{'_Close' | translate}}</button>

    </div>
  </form>
</div>
