@import "../../_variables.scss";

agm-map {
  height: 70vh;
}

.w-3{
  width: 3rem;
}


.check{
  border: 1px solid $primary;
  height: 23px;
  width: 30px;
  border-radius: 5px;
  padding: 2px;
  left: 5px;
  top:0;
}

.loader{
  height: 170px;
}


.words{
  text-shadow:0 1px 2px #333;
}

// arrow style


a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
