<div class="page-layout ios-scroll simple tabbedm p-16 " id="deals">
    <div id="" class="" fxLayout="row wrap">
        <div class="w-100- title">
            <h1>{{'_PutShippingItemInformation' | translate}}</h1>
        </div>
        <div class="w-100 mb-4 col-12" *ngIf="guest">
            <h4 class="px-2 col-12">{{'_UserInfo' | translate}}</h4>
            <form [formGroup]="userForm" class="w-100 user-info-form">
              <div class="d-flex w-100">
                <mat-form-field appearance="legacy" class=" text-left px-3 w-50 col-6" style="display: inline-block;">
                  <mat-label>{{'_FirstName'|  translate}}</mat-label>
                  <input matInput placeholder="" formControlName="first_name">
                  <mat-icon matSuffix>sentiment_satisfied_alt</mat-icon>
                  <mat-error *ngIf="userForm.get('first_name').hasError('required')">
                    {{'_FirstNameRequired' |  translate}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy" class=" text-left   px-3 w-50 col-6" style="display: inline-block;">
                  <mat-label>{{'_LastName'|  translate}}</mat-label>
                  <input matInput placeholder="" formControlName="last_name">
                  <mat-icon matSuffix>sentiment_satisfied_alt</mat-icon>
                  <mat-error *ngIf="userForm.get('last_name').hasError('required')">
                    {{'_LastNameRequired' |  translate}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="d-flex">
                <mat-form-field appearance="legacy" class="text-left w-50  px-3 col-6" style="display: inline-block;">
                  <mat-label>{{'_Email'|  translate}}</mat-label>
                  <input matInput placeholder="" formControlName="email">
                  <mat-icon matSuffix>alternate_email</mat-icon>
                  <mat-error>
                    {{'_EmailNotValid' | translate}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="text-left  w-50 px-3 col-6" style="display: inline-block;">
                  <mat-label>{{'_Mobile' | translate}}</mat-label>
                  <span matPrefix>+971 &nbsp;</span>
                  <input type="tel" matInput placeholder="554 5***" formControlName="phone" maxlength="9">
                  <mat-icon matSuffix>mode_edit</mat-icon>
                  <mat-error>
                    {{'_MobileRequired' |  translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </form>
          </div>
        <div class="container">
            <div class="row" style="display:block ruby;">
                <div class="col-6 locations">
                    <div class="w-100-p position-relative mb-32 map-input">
                        <h1 style="color: #e65526;font-weight: bold;">{{'_PutShippingItemInformation' | translate}}</h1>
                        <form [formGroup]='StartAddress'>
                            <mat-form-field class="location-input">
                                <mat-label>{{'_PickupAddress' | translate}}</mat-label>
                                <mat-icon matPrefix>place</mat-icon>
                                <input type="text" id="pac-input-from" matInput (keydown.enter)="$event.preventDefault()" (focus)="fromFormFlag = true;toFormFlag = false;"
                                    autocorrect="off" country="AE" autocapitalize="off" spellcheck="off" #search>
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                            <ng-container *ngIf="fromFormFlag">
                                <div class="col-12">
                                    <mat-form-field appearance="fill">
                                        <mat-label>{{'_ChooseCity' | translate}}</mat-label>
                                        <mat-select formControlName="city">
                                            <ng-container *ngFor="let city of cities">
                                                <mat-option [value]="city._id">{{city.title}}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="col-6" style="display: inline-block;">
                                    <mat-form-field>
                                        <mat-label>{{'_addressOFFlat' | translate}} *</mat-label>
                                        <input placeholder="Ex:101, First Floor, Park Residence" formControlName="address" type="text" matInput>
                                        <mat-error *ngIf="StartAddress.get('address').hasError('required')">
                                            {{'_ThisFiledIsRequired' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6" style="display: inline-block;">
                                    <mat-form-field>
                                        <mat-label>{{'_Landmark' | translate}}</mat-label>
                                        <input formControlName="landmark" type="text" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-12">
                                    <div class="col-12">{{'_SelectDateTime' | translate}}</div>  
                                    <mat-form-field>
                                        <input matInput type="datetime-local" placeholder="start date" [(ngModel)]="DatePicker" [ngModelOptions]="{standalone: true}" required>
                                    </mat-form-field>  
                                    <!-- <div class="col-6" style="display: inline-block;">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Choose a date</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="date">
                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6" style="display: inline-block;">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Choose time</mat-label>
                                            <mat-select formControlName="time" name="food">
                                                <mat-option *ngFor="let time of times" [value]="time">
                                                    {{time}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div> -->
                                </div>
                                <div class="col-12">
                                    <div>{{'_ContactWhenPickup' | translate}}</div>
                                    <div style="padding: 1vh 1vh;">
                                        <mat-radio-group aria-label="Select an option">
                                            <mat-radio-button value="1">{{'_ContactMe' | translate}}</mat-radio-button>
                                            <mat-radio-button value="2">{{'_ContactPerson' | translate}}</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-6" style="display: inline-block;">
                                    <mat-form-field appearance="fill" floatLabel="always">
                                        <mat-label>{{'_Name' | translate}}:</mat-label>
                                        <input formControlName="name" type="text" matInput>
                                        <mat-error *ngIf="StartAddress.get('name').hasError('required')">
                                            {{'_ThisFiledIsRequired' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6" style="display: inline-block;">
                                    <mat-form-field appearance="fill" floatLabel="always">
                                        <mat-label>{{'_PhoneNumber' | translate}}:</mat-label>
                                        <span prefix>+971</span>
                                        <input matInput formControlName="phone" type="tel" minLength="9"
                                               maxlength="9">
                                        <mat-error *ngIf="StartAddress.get('phone').hasError('required')">
                                            {{'_ThisFiledIsRequired' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </form>
                        <form [formGroup]='endAddress'>
                            <mat-form-field class="location-input">
                                <mat-label>{{'_DropOffAddress' | translate}}</mat-label>
                                <mat-icon matPrefix>local_shipping</mat-icon>
                                <input type="text" id="pac-input-to" matInput (focus)="fromFormFlag = false;toFormFlag = true;"
                                    autocorrect="off" country="AE" autocapitalize="off" spellcheck="off" #search2>
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                            <ng-container *ngIf="toFormFlag">
                                <div class="col-12">
                                    <mat-form-field appearance="fill">
                                        <mat-label>City</mat-label>
                                        <mat-select formControlName="city">
                                            <ng-container *ngFor="let city of cities">
                                                <mat-option [value]="city._id">{{city.title}}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="col-6" style="display: inline-block;">
                                    <mat-form-field>
                                        <mat-label>{{'_addressOFFlat' | translate}} *</mat-label>
                                        <input placeholder="Ex:101, First Floor, Park Residence" formControlName="address" type="text" matInput>
                                        <mat-error *ngIf="StartAddress.get('address').hasError('required')">
                                            {{'_ThisFiledIsRequired' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6" style="display: inline-block;">
                                    <mat-form-field>
                                        <mat-label>{{'_Landmark' | translate}}</mat-label>
                                        <input formControlName="landmark" type="text" matInput>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-12">
                                    <div class="col-12">Available Date and Time</div>
                                    <div class="col-12" style="padding: 12px 20px;font-weight: bolder;">{{endAddress.get('date').value}}, {{endAddress.get('time').value}}</div>
                                </div> -->
                                <div class="col-12">
                                    <div>{{'_ContactWhenPickup' | translate}}</div>
                                    <div style="padding: 1vh 1vh;">
                                        <mat-radio-group aria-label="Select an option">
                                            <mat-radio-button value="1">{{'_ContactMe' | translate}}</mat-radio-button>
                                            <mat-radio-button value="2">{{'_ContactPerson' | translate}}</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="col-6" style="display: inline-block;">
                                    <mat-form-field appearance="fill" floatLabel="always">
                                        <mat-label>Name:</mat-label>
                                        <input formControlName='name' type="text" matInput>
                                        <mat-error *ngIf="StartAddress.get('name').hasError('required')">
                                            {{'_ThisFiledIsRequired' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6" style="display: inline-block;">
                                    <mat-form-field appearance="fill" floatLabel="always">
                                        <mat-label>{{'_PhoneNumber' | translate}}:</mat-label>
                                        <span prefix>+971</span>
                                        <input matInput formControlName="phone" type="tel" minLength="9"
                                               maxlength="9">
                                        <mat-error *ngIf="StartAddress.get('phone').hasError('required')">
                                            {{'_ThisFiledIsRequired' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </form>
                        <div class="map-container" #map>
                            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" #map>
                                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                            (dragEnd)="markerDragEnd($event)"></agm-marker>
                            </agm-map>
                        </div>
                        <form [formGroup]='calculatorForm' (click)="toFormFlag = false; fromFormFlag = false;"> 
                            <div class="col-12">{{'_ChooseVeichle' | translate}}:</div>
                            <div class="col-12">
                                <ng-container *ngFor="let item of categories">
                                    <div class="" style="height: 70px;" [ngClass]="f.category.value == item._id? 'v-item-selected' : 'v-item'"
                                     (click)="f.category.setValue(item._id);f.cost.setValue('');f.categoryTitle.setValue(item.title);">
                                        <div class="sub-cat">
                                            <div style="display: inline-flex;">
                                                <img [src]="appService.fileUrl +item.icon" alt="" class="mr-4" style="min-width: 6vh;">
                                            </div>
                                            <div style="display: inline-block;">
                                                <span style="font-size: large;font-weight:normal;display: block;">{{item.title}}</span>
                                                <span style="font-size: small;display: block;">Max. {{item.weight}} kg</span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="col-12">
                                <div class="col-12">{{'_WhenToDeliver' | translate}}:</div>
                                <ng-container *ngFor="let type of types">
                                    <div style="min-width: 30%;" [ngClass]="f.type.value == type._id? 'v-item-selected' : 'v-item'"
                                     (click)="f.type.setValue(type._id);f.cost.setValue(type.price);f.typeTitle.setValue(type.title);f.duration.setValue(type.duration);">
                                        <div class="sub-cat">
                                            <div style="display: inline-block;">
                                                <span style="font-size: large;font-weight:normal;display: block;">{{type.title}}</span>
                                                <span style="font-size: small;display: block;">{{type.duration}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="col-12" style="display: inline-block;">
                                <mat-form-field appearance="fill" floatLabel="always">
                                    <span prefix>+971</span>
                                    <mat-label>Your {{'_PhoneNumber' | translate}}:</mat-label>
                                    <input matInput type="tel" minLength="9" maxlength="9" formControlName="phone">
                                </mat-form-field>
                            </div>
                        </form>
                        <form [formGroup]="calculatorForm">
                            <div class="col-12">
                                <h2 class="col-12" style="margin: 12px 20px;">{{'_PaymentMethod' | translate}}</h2>
                                <div class="col-6">
                                    <span class="col-12">{{'_ProductPayment' | translate}}</span>
                                    <div style="padding: 1vh 1vh;">
                                        <mat-radio-group aria-label="Select an option"  formControlName="productPayment">
                                            <mat-radio-button value="prepaid" (click)="isCOD=false;">{{'_Prepaid' | translate}}</mat-radio-button>
                                            <mat-radio-button value="cod" (click)="isCOD=true;">{{'_cod' | translate}}</mat-radio-button>
                                        </mat-radio-group>
                                        <ng-container *ngIf="isCOD">
                                            <mat-form-field> 
                                                <mat-label>{{'_Amount' | translate}}</mat-label>
                                                <input matInput name="amount" formControlName="productPaymentAmount">
                                            </mat-form-field>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <span class="col-12">{{'_DeliveryPayment' | translate}}</span>
                                    <div style="padding: 1vh 1vh;">
                                        <mat-radio-group aria-label="Select an option" formControlName="deliveryPayment">
                                            <mat-radio-button value="prepaid">{{'_Prepaid' | translate}}</mat-radio-button>
                                            <mat-radio-button value="cod">{{'_cod' | translate}}</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <mat-form-field>
                                    <mat-label>Total Weight</mat-label>
                                    <input type="text"formControlName="weight" matInput>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                    <div>
                        <p style="font-size: 11px;">By continuing you agree to the <a href="#" style="color: #e65526;">Terms & Conditions</a> and <a href="#" style="color: #e65526;">Policy</a></p>
                        <button aria-label="EDIT" class="col-6 continue-button"
                                    mat-raised-button
                                (click)="sendOTPGuest()">
                                Continue
                            </button>
                    </div>
                </div>
                <hr class="vertical">
                <div class="col-6 info">
                    <h2 style="color: #e65526;font-weight: bold;">{{'_CollectedInfo' | translate}}</h2>
                    <div>
                        <span class="ititle">{{'_PickupAddress' | translate}}</span>
                        <span class="ivalue">{{StartAddress.get("locationText")?.value}}</span>
                        <span class="ivalue" style="display: inline-flex;" *ngIf="StartAddress.get('name')?.value != ''">{{StartAddress.get("name")?.value}} | </span>
                        <span class="ivalue" style="display: inline-flex;" *ngIf="StartAddress.get('phone')?.value != ''"> +971 {{StartAddress.get("phone")?.value}}</span>
                    </div>
                    <div>
                        <span class="ititle">{{'_DropOffAddress' | translate}}</span>
                        <span class="ivalue">{{endAddress.get("locationText")?.value}}</span>
                        <span class="ivalue" style="display: inline-flex;" *ngIf="endAddress.get('name')?.value != ''">{{endAddress.get("name")?.value}} | </span>
                        <span class="ivalue" style="display: inline-flex;" *ngIf="endAddress.get('phone')?.value != ''"> +971 {{endAddress.get("phone")?.value}}</span>
                    </div>
                    <div class="col-6">
                        <span class="ititle">{{'_VeichleType' | translate}}</span>
                        <span class="ivalue">{{ f.categoryTitle?.value }}</span>
                    </div>
                    <div class="col-6">
                        <span class="ititle">{{'_DeliveryType' | translate}}</span>
                        <span class="ivalue">{{ f.typeTitle?.value }}</span>
                    </div>
                    <div>
                        <span class="Pickup Date and Time">{{'_PickupDateTime' | translate}}</span>
                        <span class="ivalue">{{StartAddress.get("date")?.value}}, {{StartAddress.get("time")?.value}}</span>
                    </div>
                    <div>
                        <span class="ititle">{{'_DropoffDateTime' | translate}}</span>
                        <span class="ivalue">{{endAddress.get("date")?.value}}, {{endAddress.get("time")?.value}}</span>
                    </div>
                    <!-- <div class="col-12" style="display: inline-flex;">
                        <span class="ivalue col-6" style="flex: left;">Distance</span>
                        <span class="ivalue col-6" style="flex: right;float: right;text-align: right;">ExampleExampleExample</span>
                    </div> -->
                    <hr>
                    <div class="col-12" style="display: inline-flex;">
                        <span class="ivalue col-6" style="flex: left;">{{'_Amount' | translate}}</span>
                        <span class="ivalue col-6" style="flex: right;float: right;text-align: right;">{{f.cost?.value}}</span>
                    </div>
                    <div class="col-12">
                        <table [dataSource]="typesDataSource" class="mat-elevation-z8 table-responsive w-100-p p-16" mat-table matSort>
                            <ng-container matColumnDef="title" class="">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header> Title</th>
                                <td *matCellDef="let element" mat-cell> {{element.title}}  </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="title_ar" class="">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header> الاسم</th>
                                <td *matCellDef="let element" mat-cell> {{element.title_ar}}  </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="duration" class="">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header> Duration</th>
                                <td *matCellDef="let element" mat-cell> {{element.duration}}  </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="price" class="">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Cost</th>
                                <td *matCellDef="let element" mat-cell> {{element.price}}  </td>
                            </ng-container>
                            <ng-container matColumnDef="image" >
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Image</th>
                                <td *matCellDef="let element" mat-cell><img [src]="restService.baseUrlFile   +  element.image" alt="" class="icon">  </td>
                            </ng-container>
                        
                        
                            <ng-container matColumnDef="status" class="">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header> Status</th>
                                <td *matCellDef="let element" mat-cell>
                                    <span class="unactive" *ngIf="element.active == 0">Inactive</span>
                                    <span class="active" *ngIf="element.active == 1">Active</span>
                                </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="action">
                                <th *matHeaderCellDef mat-header-cell> Action</th>
                                <td *matCellDef="let element" mat-cell>
                                    <button aria-label="EDIT" class="submit-button action m-4" color="accent" mat-raised-button
                                            (click)="openEditDialog(element)">
                                        Edit
                                    </button>
                                    <button aria-label="EDIT" class="submit-button m-4 action" color="accent" mat-raised-button
                                            (click)="updateType(element , 1)" *ngIf="element.active == 0">
                                        Active
                                    </button>
                        
                                    <button aria-label="EDIT" class="submit-button m-4 action" color="accent" mat-raised-button
                                            (click)="updateType(element , 0)" *ngIf="element.active == 1">
                                        Inactive
                                    </button>
                                </td>
                            </ng-container>
                            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                        
                          </table>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>